<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pictures.FilesLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Test.PictureLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.web>
    <httpRuntime maxRequestLength="2147483647"/>
  </system.web>
  <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <applicationSettings>
    <Pictures.FilesLoader.Properties.Settings>
      <setting name="Pictures_FilesLoader_PictureService_Service" serializeAs="String">
        <value>http://localhost:8080/pictures/Service.svc</value>
      </setting>
    </Pictures.FilesLoader.Properties.Settings>
    <Test.PictureLoader.Properties.Settings>
      <setting name="Test_PictureLoader_PictureService_Service" serializeAs="String">
        <value>http://localhost:8080/pictures/Service.svc</value>
      </setting>
    </Test.PictureLoader.Properties.Settings>
  </applicationSettings>
</configuration>